@model VimaruAsset.Models.ReductionHistory

<div class="modal fade p-0" id="order-modal ">
    <div class="modal-xl modal-dialog ">
        <div class="modal-content container">
            <div class="modal-body container">
                <div class="row">
                    <h5 class="col-12 text-primary">Chi tiết giảm tài sản</h5>
                </div>
                <hr />
                <table class="table-striped table-primary w-100">
                    <thead>
                        <tr>
                            <th class="text-center font-weight-bold" style="width:30%">Mục</th>
                            <th class="text-center font-weight-bold" style="width:70%">Nội dung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <hr />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>
